<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Main Page</title>
</head>
<body ng-app="demo">
	<hr />
	<div class="container" ng-controller="CustomerController">
		<div class="row">
			<label>StartDate</label> <input type="text" placeholder="yyyy-mm--dd"
				ng-model="customerSearchDto.fromDate" class="input-sm spacing" /> <label>EndDate</label>
			<input type="type" placeholder="yyyy-mm--dd"
				ng-model="customerSearchDto.toDate" class="input-sm spacing" />

			<button ng-click="searchCustomerJobs()" class="btn btn-sm btn-info">Search</button>
			<!-- 	<p>(Please enter the date in yyyy-mm--dd format) </p> -->
		</div>
		<hr />
		<!--
    <div class="row">
        	<span ng-repeat="customerJob in allCustomerJobs" class="spacing">
	            {{customerJob.customer.customerName}}
	            {{customerJob.customer.state}}
	            {{customerJob.customer.contactNumber}}
	            {{customerJob.jobType}}
	            {{customerJob.jobStatus}}
	            {{customerJob.dueDate}}
	            {{customerJob.missComment}}
	            {{customerJob.notificationSent}}
	            {{customerJob.returnMessage}}
	            <br/>
            </span>
    </div>
    -->

		<table st-table="rowCollection" class="table table-striped">
			<thead>
				<tr>
					<th st-sort="customerName">Customer Name</th>
					<th st-sort="jobId">Job Id</th>
					<th st-sort="correlationId">Correlation Id</th>
					<th st-sort="jobType">Job Type</th>
					<th st-sort="jobStatus">Job Status</th>
					<th st-sort="dueDate">Due Date</th>
					<th st-sort="missCommit">Miss Commit</th>
					<th st-sort="customerState">State</th>
					<th st-sort="contactNumber">Primary Contact NO</th>
					<th st-sort="notificationSent">Notification Sent</th>
					<th st-sort="returnMessage">Return Message</th>
				</tr>
				<tr>
					<th><input st-search="'customerName'"
						placeholder="search for customerName"
						class="input-sm form-control" type="search" /></th>
					<th><input st-search="'jobId'" placeholder="search for Job Id"
						class="input-sm form-control" type="search" /></th>
					<th><input st-search="'correlationId'"
						placeholder="search for Correlation Id"
						class="input-sm form-control" type="search" /></th>
					<th><input st-search="'jobType'"
						placeholder="search for Job Type" class="input-sm form-control"
						type="search" /></th>
					<th><input st-search="'jobStatus'"
						placeholder="search for jobStatus" class="input-sm form-control"
						type="search" /></th>
					<th><input st-search="'dueDate'"
						placeholder="search for dueDate" class="input-sm form-control"
						type="search" /></th>
					<th><input st-search="'customerName'"
						placeholder="search for missCommit" class="input-sm form-control"
						type="search" /></th>
					<th><input st-search="'customerState'"
						placeholder="search for State" class="input-sm form-control"
						type="search" /></th>
					<th><input st-search="'contactNumber'"
						placeholder="search for contactNumber"
						class="input-sm form-control" type="search" /></th>
					<th><input st-search="'notificationSent'"
						placeholder="search for notificationSent"
						class="input-sm form-control" type="search" /></th>
					<th><input st-search="'returnMessage'"
						placeholder="search for returnMessage"
						class="input-sm form-control" type="search" /></th>
				</tr>
			</thead>

			<tbody>
				<tr ng-repeat="customerJob in allCustomerJobs">
					<td>{{customerJob.customer.customerName | uppercase}}</td>
					<td>{{customerJob.id}}</td>
					<td>{{customerJob.id}}</td>
					<td>{{customerJob.jobType | uppercase}}</td>
					<td>{{customerJob.jobStatus | uppercase}}</td>
					<td>{{customerJob.dueDate}}</td>
					<td>{{customerJob.missComment}}</td>
					<td>{{customerJob.customer.state}}</td>
					<td>{{customerJob.customer.contactNumber}}</td>
					<td>{{customerJob.notificationSent}}</td>
					<td>{{customerJob.returnMessage}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="11" class="text-center">
						<div st-pagination="" st-items-by-page="itemsByPage"
							st-displayed-pages="7"></div>
					</td>
				</tr>
			</tfoot>
		</table>

	</div>
</body>

<script src="../js/lib/angular.min.js"></script>
<script src="../js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="../js/lib/smart-table.min.js"></script>
<script src="../js/app/app.js"></script>
<script src="../js/app/CustomerController.js"></script>
<script src="../js/app/CustomerService.js"></script>
<link rel="stylesheet" href="../css/lib/bootstrap.min.css" />
<link rel="stylesheet" href="../css/app/app.css" />
</html>